<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head"></head>
<body>
	<div th:fragment="navbar" class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="./hello.html">mendlik</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class=""><a href="./hello.html">Hello</a></li>
						<li class=""><a href="./login.html">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
