<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false">

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/general</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/error/general</location>
    </error-page>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error/404</location>
    </error-page>
</web-app>